/*
    Code Attribution
    Title: skelton-whatabook2.css
    Author: Cody Skelton
    Date: 12.06.2023
    Description - Bellevue University WEB 330 Week 8 Assignment - WhatABook, Part 2 Style Sheet
    Code requirements sourced from WEB 330 Week 8 Assignment
*/

@import url(../styles/site.css);
@import url(../styles/theme.css);